// Variables

$orangeMain : #EA5548
$blackMain: #18191b
  
// General    
* 
  box-sizing: border-box
  margin: 0
  padding: 0
  cursor: none

main 
  font-family: sans-serif
  display: flex
  flex-direction: column
  overflow: hidden
    
::selection 
  background-color: black

